<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <h1>ログイン: <span th:text="${loginUser.name}"></span></h1>

  <h2>エントリー</h2>
  <ul>
    <li th:each="u : ${users}">
      <span th:if="${u.id != loginUser.id}">
        <a th:href="@{/match(id=${u.id})}" th:text="${u.name}"></a>
      </span>
      <span th:if="${u.id == loginUser.id}" th:text="${u.name}"></span>
    </li>
  </ul>

  <h2>アクティブな試合</h2>
  <ul>
    <li th:each="m : ${activeInfos}">
      <span
        th:text="'id:' + ${m.id} + ' user1:' + ${m.user1} + ' user2:' + ${m.user2} + ' isActive:' + ${m.isActive}"></span>
    </li>
  </ul>

  <a href="/logout">ログアウト</a>
</body>

</html>
