<!DOCTYPE html>
<html lang="zh-Hant" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <h1>じゃんけん</h1>
  <div>ログインしたユーザー：<span th:text="${loginUser}"></span></div>
  <div><a href="/logout">登出</a></div>
  <hr>

  <h2>Entry（ユーザーリスト）</h2>
  <ul>
    <li th:each="u : ${users}">
      <span th:text="${u.name}"></span>
      <a th:href="@{/match(id=${u.id})}">對戰</a>
    </li>
  </ul>

  <h2>試合結果</h2>
  <table border="1" cellpadding="4">
    <tr>
      <th>#</th>
      <th>私</th>
      <th>対戦相手</th>
      <th>私の手</th>
      <th>対戦相手の手</th>
    </tr>
    <tr th:each="r, st : ${results}">
      <td th:text="${st.index}"></td>
      <td th:text="${r.user1Name}"></td>
      <td th:text="${r.user2Name}"></td>
      <td th:text="${r.user1Hand}"></td>
      <td th:text="${r.user2Hand}"></td>
    </tr>
  </table>

  <p><a href="/">back to top</a></p>
</body>

</html>
