<!DOCTYPE html>
<html lang="zh-Hant" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Match</title>
</head>

<body>
  <h1>バトル</h1>
  <div>ログインユーザー：<span th:text="${loginUser}"></span></div>
  <div th:if="${errorMsg != null}" style="color:red" th:text="${errorMsg}"></div>

  <div th:if="${errorMsg == null}">
    <div>
      <span th:text="${me != null ? me.name : ''}"></span>
      vs
      <span th:text="${opponent != null ? opponent.name : ''}"></span>
    </div>

    <h3>あなたの手を選択してください:</h3>
    <ul>
      <li><a th:href="@{/fight(id=${opponent.id}, hand='Gu')}">グー(Gu)</a></li>
      <li><a th:href="@{/fight(id=${opponent.id}, hand='Choki')}">チョキ(Choki)</a></li>
      <li><a th:href="@{/fight(id=${opponent.id}, hand='Pa')}">パー(Pa)</a></li>
    </ul>
  </div>

  <p><a href="/janken">back</a></p>
</body>

</html>
