<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <meta charset="utf-8">
  <title>match</title>
</head>

<body>
  <h1>対戦</h1>
  <p>ログインユーザ：<span th:text="${loginUser.name}"></span></p>
  <p>vs <span th:text="${opponent.name}"></span></p>

  <h3>選択する手：</h3>
  <ul>
    <li><a th:href="@{/fight(id=${opponent.id}, hand='Gu')}">グー(Gu)</a></li>
    <li><a th:href="@{/fight(id=${opponent.id}, hand='Choki')}">チョキ(Choki)</a></li>
    <li><a th:href="@{/fight(id=${opponent.id}, hand='Pa')}">パー(Pa)</a></li>
  </ul>

  <a href="/janken">戻る</a>
</body>

</html>
